*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.keyboard{
    width: 60vw;
    height: 70vh;
    background-color: black;
    margin-left: 20%;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    
}
div.keypad{
    position: relative;
    color: black;
    height: 300px;
    width: 120px;
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    left: 7%;
    cursor: pointer;
}
h3{
    position: absolute;
    bottom: 30px;
    left: 50px;
}
div.smallkey{
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 30.2%;
    top: 13.5%;
    cursor: pointer;
}
div.smallkey1{
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 37.5%;
    top: 13.5%;
    cursor: pointer;
}
div.smallkey2 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 52%;
    top: 13.5%;
    cursor: pointer;
}
div.smallkey3 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 59.5%;
    top: 13.5%;
    cursor: pointer;
}
div.smallkey4 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 66.9%;
    top: 13.5%;
    cursor: pointer;
}

